section{
    background-color: rgb(75, 133, 209);
    padding-bottom: 30px;
    .card{
        background-color: pink;
        margin-bottom: 30px;
    }
}

aside{
    background-color: salmon;

}
footer{
    background-color: rgb(135, 170, 235); 
    height: 75px;
    border: 3px solid rgb(49, 0, 128);
}